@import url("https://fonts.googleapis.com/css2?family=Carme&display=swap");

/* MAIN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Carme", sans-serif;
}

body {
  background-image: url("../resources/images/bg-image.png"); /*PROVVISORIO*/
  color: #414341;
  overflow: hidden;
}

section {
  margin-top: 15%;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.test {
  font-size: xx-large !important;
}

.padding-side {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.19681375968356096) 0%,
    rgba(0, 0, 0, 0.6029762246695554) 100%
  );
  opacity: 0;
  animation: slide_down 0.5s linear forwards;
  animation-delay: 2s;
}

/* TITLE TEXT */
.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 3.5em;
  opacity: 0;
  animation: slide_left 0.5s linear forwards;
  animation-delay: 0.5s;
}

h3 {
  color: #fff;
  font-size: 1.5em;
  opacity: 0;
  animation: slide_right 0.5s linear forwards;
  animation-delay: 1s;
}

.button {
  background-color: #346187;
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  color: #fff;
  font-size: 1.2em;
  border-radius: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  user-select: none;
  opacity: 0;
  transition: transform 0.5s ease;
  animation: fade_in 0.5s linear forwards;
  animation-delay: 1.5s;
}

.button:hover {
  background-color: #73c2e1;
  transform: scale(1.2);
}

/* FOOTER */
footer {
  position: fixed;
  display: flex;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6029762246695554) 0%,
    rgba(0, 0, 0, 0.19681375968356096) 100%
  );
  opacity: 0;
  animation: slide_up 0.5s linear forwards;
  animation-delay: 2s;
}

footer div a {
  color: #fff;
  text-decoration: none;
  user-select: none;
  font-size: 1.1em;
}

footer div a#hide {
  opacity: 0;
  animation: slide_up 0.5s linear forwards;
  animation-delay: calc(2s + 0.2s * var(--i));
}

footer a:hover {
  color: #73c2e1;
}

footer .texts {
  margin-right: 10%;
  margin-left: 5%;
  width: 80%;
  justify-content: space-between;
  display: flex;
}

footer .icons {
  margin-left: 50%;
  margin-right: 5%;
  width: 50%;
  justify-content: space-between;
  display: flex;
}

/* FOOTER DROPDOWN */
footer #leftToRight {
  position: absolute;
  margin-right: 10%;
  visibility: hidden;
}

footer #rightToLeft {
  position: absolute;
  margin-left: 20%;
  margin-right: 5%;
  visibility: hidden;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.253);
  max-height: auto;
  color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.texts .dropdown .dropdown-content {
  min-width: 150px;
}

.icons .dropdown .dropdown-content {
  left: 50%;
  margin-left: -20px;
  min-width: 36px;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  margin-top: 3px;
  font: 10px;
  bottom: 100%;
  left: 50%;
}

footer #leftToRight:hover {
  animation: rotate_left 0.5s linear forwards;
}

footer #rightToLeft:hover {
  animation: rotate_right 0.5s linear forwards;
}

/* RESPONSIVE */
@media (max-width: 1300px) {
  footer .texts {
    margin-right: 0%;
  }
}

@media (max-width: 1000px) {
  section {
    margin-top: 20%;
  }

  footer .icons {
    margin-left: 30%;
  }
}

@media (max-width: 700px) {
  body {
    background-image: url("../resources/images/bg-image-mobile.png"); /*PROVVISORIO*/
  }

  section {
    margin-top: 30%;
  }

  .center {
    margin-top: 100px;
  }

  footer div.texts {
    width: 10%;
  }

  footer div.texts a#hide,
  footer div.icons a#hide {
    visibility: hidden;
  }

  footer #leftToRight {
    visibility: visible;
  }

  footer #rightToLeft {
    visibility: visible;
  }
}

/* ANIMATIONS */
@keyframes slide_right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide_left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide_up {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slide_down {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate_left {
  50% {
    transform: rotate(225deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotate_right {
  50% {
    transform: rotate(-225deg);
  }

  100% {
    transform: rotate(-270deg);
  }
}

/* LOGIN FORM */
.open-button {
  background-color: rgba(255, 255, 255, 0.144);
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 100px;
}

.form-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 15px;
  border: 3px solid #3d3d3d;
  border-radius: 20px;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  color: white;
  background-color: #242424;
  border-radius: 20px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.226);
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #73c2e1;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: #346187;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.form-container,
.form-popup :focus {
  opacity: 0;
  animation: fade_in 0.5s linear forwards;
}
