@import url("https://fonts.googleapis.com/css2?family=Carme&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Carme", sans-serif;
  /* color: #fff; */
}

body {
  background-color: #fafafa;
  /* color: #1960db !important; */
  overflow: hidden;
  text-align: center;
}

section {
  margin-top: 5%;
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: 3.5em;
  opacity: 0;
  animation: slide_down 1s linear forwards;
  animation-delay: 0.5s;
}

.form-container {
  display: inline-block;
  max-width: 500px;
  padding: 10px;
  color: black;
  background-color: #eff4f9;
  border-radius: 20px;
  opacity: 0;
  animation: fade_in 1s linear forwards;
  animation-delay: 1s;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  color: black;
  background-color: rgb(255, 255, 255);
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container input[name="name"] {
  width: 49%;
}

.form-container .login {
  background-color: #73c2e1;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 48%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .signup {
  background-color: #2b8eb7;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 49%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: #346187;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

@keyframes slide_down {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
